body{
	background:  url(picture.jpg)no-repeat;
	background-size: cover;
	font-family: Arial;
	color:white;
	overflow:hidden;
	
}
ul{
	alignment: center;
	margin:10px;
	padding:8px;
	list-style:none;
	position: center;
	top:0;

	


}
ul li{
	float:left;
	height:40px;
	width:185px;
	background-color:transparent;
	opacity: 0.7;
	line-height:35px;
	text-align: center;
	font-size:20px;
}
ul li a{
	text-decoration:none;
	color:white;
	display:block;
	

}
ul li a:hover{
	background-color:green;


	
}

.title{
	position: center;
	top:70%;
	left:70%;
	float:center;
	text-align:center;
	padding:220px;

}
.title{
	color:black;
	font-size:30px;
	font-family:Century;
}
li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 10px 52px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: green;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: center center;
  background-color: transparent;
  min-width: 198px;
  box-shadow: 8px 8px 16px 8px rgba(0,0,0,0.5);
  z-index: 3;
}

.dropdown-content a {
  color: black;
  padding: 2px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {background-color: green;}

.dropdown:hover .dropdown-content {
  display: block;
}