
body{
	
	background:  url(halla.jpg)no-repeat;
	background-size: cover;
	font-family: Arial;
	color:white;
	overflow:hidden;
	margin:0px;
	padding: 0px;
	height: 60px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	
  
}
	
}